week07-Jupyter_DataTools/logging/todo.log
.ipynb_checkpoints/
venv
__pycache__
.idea
week08-NUMPY_PANDAS_SQL/Deliverable/NYC_taxi.csv
week08-NUMPY_PANDAS_SQL/Day6_pandas/Deliverable/NYC_taxi_data.csv
